.portfolioBody {
  display: flex;
  justify-content: space-between;
  margin: 1% 0%;
  z-index: 60;
}

.whiteBackground {
  position: absolute;
  min-width:71%;
  min-height: 54%;
  z-index: 10;
  top: 14.5%;
  left: 14.5%;
  background-color: whitesmoke;
}