.portfolioBody {
  display: flex;
  justify-content: space-between;
  margin: 1% 0%;
  z-index: 60;
}

.whiteBackground {
  position: absolute;
  min-width: 71%;
  min-height: 54%;
  z-index: 10;
  top: 14.5%;
  left: 14.5%;
  background-color: whitesmoke;
}

.box {
  padding: 1% 2%;
  margin: 5px 0;
}

.box span {
  padding: 5px;
  border-radius: 3px;
}

#overlay {
  position: fixed;
  display: none;
  width: 99%;
  height: 300px;
  top: 2.5%;
  left: 0.5%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 200;
  cursor: pointer;
}

#projectName {
  position: absolute;
  top: 50%;
  left: 50%;
  font: 48px ZS_semibold;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectDescription {
  font-family: ZS_medium;
  color: white;
  display: inline-block;
  padding: 0px 22.5%;
  margin: 0.35% 2% 0px 1%;
}

.projectFooter {
  position: absolute;
  width: 80%;
  bottom: 10%;
  border-top: 0.3px solid white;
  margin: 0px 10%;
  padding: 3px 0px 0px 0px;
  align-self: center;
  font: 18px ZS_medium;
}

.projectFooterContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectFooterContentLinks {
}

.projectFooterContentText {
  margin: 0.2% 1% 0px 1%;
  width: 33.3%;
  color: white;
}

.projectFooterLinks {
  margin: 0.2% 5% 0px 1%;
  width: 10%;
}
