.companyName {
  font: 20px ZS_bold;
}

.workExpDetails {
  margin-left: 1%;
}

.companylocation {
  font: 12px ZS_light;
}

.companydescription {
  font: 16px ZS_medium;
  margin-left: 1%;
}

.companydescriptionPoints {
  margin-bottom: 0.1%;
}

.companyPosition {
  font: 18px ZS_semibold;
}

.companyDate {
  margin-bottom: 0px;
  position: absolute;
  display: inline;
  right: 3%;
}

.companystartDate,
.companyendDate {
}

.startDateMonth,
.endDateMonth {
  font: 12px ZS_medium;
}
.startDateYear,
.endDateYear, .presentlyWorking {
  font: 16px ZS_bold;
  color: #616466;
}
