.profileQuote {
  display: flex;
  justify-content: space-between;
  border: none;
}

.profileCard {
  padding: 1%;
  text-align: center;
  border: none;
}

.profileText {
  padding: 5% 10%;
}

.macbookImgDiv {
  margin-top: 10%;
  background-color: "white";
}

.linksDiv {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
  padding: 2.5% 15%;
  bottom: 0px;
}

.linksButton {
}

.linksButton:focus {
  outline: none;
}
